@mixin resume-typography {
  h1 {
    font-size: 4.8rem;
  }
  
  h2 {
    font-size: 3.6rem;
  }
  
  h3 {
    font-size: 3.2rem;
  }
  
}


.resume-container {
  @include resume-typography;
  margin: 2.5em;
}
