@import '../variables';
@import '../util';



.navbar-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
  @include mobile {
    flex-direction: column;
    height: unset;
    justify-content: flex-start;
  }
}


.navbar-navitem {
  animation: fade-in ease 10s;
  margin-left: 1em;
  margin-right: 1em;
  @include mobile {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

.navbar-navitem-text {
  color: $site-header-link !important;
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  
  &:hover {
    color: $site-header-link-hover !important;
    text-decoration: none;
  }
}

.navbar-navitem-text-active {
  color: $orange !important;
}

.navbar-links {
  display: flex;
}

.navbar-brand {
  color: $site-header-link !important;
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  
  &:hover {
    color: $site-header-link-hover !important;
  }
}

