@import '../variables';

.navbar-container {
  align-items: center;
  background-color: $site-primary;
  border-bottom: 1.5px solid $grey-light;
  /* Do not touch this, very picky */
  box-shadow: 3.5px 2px 5px 1.5px $grey-light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}


.navbar-navitem {
  margin-left: 1em;
  margin-right: 1em;
}

.navbar-navitem-text {
  color: $site-header-link !important;
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  
  &:hover {
    color: $site-header-link-hover !important;
    text-decoration: none;
  }
}

.navbar-navitem-text-active {
  color: $orange !important;
}

.navbar-links {
  display: flex;
}

.navbar-brand {
  color: $site-header-link !important;
  font-size: 1.6em;
  text-decoration: none;
  
  &:hover {
    color: $site-header-link-hover !important;
  }
}


@media (max-width: 1200px) {
  .navbar-container {
    flex-direction: column;
    height: unset;
    justify-content: flex-start;
  }

  .navbar-navitem {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}


