$blue: #1976d2;
$blue-lighter: #579bde;
$grey: #24272b;
$black: #0e1116;
$grey: #24272b;
$offwhite: #e5e5e5;
$white: #fff;
$grey-light: #94989b;
$orange: #ff785a;

$site-primary: $blue;
$site-secondary: $grey;
$site-light: $offwhite;
$site-dark:  $black;
$site-text: $black;
$site-header-link: $offwhite;
$site-header-link-hover: $white;


$site-link: $blue;
$site-link-hover: $blue-lighter;