@import "_colors.scss";

@mixin navbar-base {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin navitem-text-base {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
}

.navbar-container {
  @include navbar-base;
  border-bottom: 1.5px solid $grey-light;
  background-color: $site-primary;
  /* Do not touch this, very picky */
  box-shadow: 3.5px 2.0px 5px 1.5px $grey-light;
}

.navbar-container-transparent {
  @include navbar-base;
  background-color: transparent;
}

.navbar-navitem {
  margin-left: 1em;
  margin-right: 1em;
}

.navbar-navitem-text {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: $site-header-link !important;
}

.navbar-navitem-text-active {
  color: $orange !important;
}

.navbar-navitem-text:hover {
  text-decoration: none;
  color: $site-header-link-hover !important;
}


.navbar-links {
  display: flex
}

.navbar-brand {
  font-size: 1.6em;
  text-decoration: none;
  color: $site-header-link !important;
}

.navbar-brand:hover {
  color: $site-header-link-hover !important;
}

@media (max-width: 1200px) {
  .navbar-container {
    flex-direction: column;
    justify-content: flex-start;
    height: unset;
  }
  .navbar-navitem {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


