.navbar-container {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid silver;
}

.navbar-navitem {
  margin-left: 1em;
  margin-right: 1em;
}

.navbar-navitem-text {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: #000;
}

.navbar-navitem-text:hover {
  text-decoration: none;
  color: #555
}


.navbar-links {
  display: flex
}

.navbar-brand {
  font-size: 1.6em;
  color: #000;
  text-decoration: none;
}

.navbar-brand:hover {
  color:#555
}

@media (max-width: 1200px) {
  .navbar-container {
    flex-direction: column;
    justify-content: flex-start;
    height: unset;
  }
  .navbar-navitem {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}