@import 'variables';

html,
body {
  background-color: $offwhite;
  height: 100%;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $site-text;
}


a {
  color: $site-link;
  text-decoration: none;
}

a:hover {
  color: $site-link-hover;
  text-decoration: none;
}

a:visited {
  color: $site-link;
}
