@import "variables";

h1, h2, h3, h4, h5, h6, p {
  color: $site-text;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: $offwhite;
}

a {
  text-decoration: none;
  color: $site-link
}

a:hover {
  text-decoration: none;
  color: $site-link-hover
}

a:visited {
  color: $site-link
}