@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

$site-font: 'Roboto Condensed', sans-serif;
$site-font-size: 24px;
$site-line-height: $site-font-size * 1.5;

h1,h2,h3,h4,h5,h6,a,p {
  font-family: $site-font;
}

p {
  font-size: $site-font-size;
  line-height: $site-line-height;
}